body {
  font-family: 'Merriweather', serif;
  width: 320px;
  padding: 12px;
  background: #F9F3EF;
}

#output {
  white-space: pre-wrap;
  margin-bottom: 16px;
  font-size: 14px;
  color: #1B3C53;
  font-family: 'Merriweather', serif;
}

#copyBtn {
  background-color: #456882;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

#copyBtn:hover {
  background-color: #1B3C53;
}
